.itemimage{
    height: 80px;
    width:80px;
    margin-left:0
}
.SuggestionBox{

background-color:white;
position:absolute;
top:7rem;
width:488px;
display:flex;
flex-direction:column;
max-height:440px;
overflow:scroll;
z-index: 2;

}
.SuggestionBox > *{
 
    flex:1;
    text-align:right;
    padding:10px;
   
}
/* .SuggestionBox:nth-child(${({active})=>active}){
    background-color:rgba(0,0,0,0.09);
    cursor:pointer;
} */
.SuggestionBox::-webkit-scrollbar {
    display: none;
  }

.itemtitle{
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;

}
.itemtitle:hover{
    background-color: blanchedalmond;
}
.item:hover{
    background-color: #c8d9e6;
}
.closebtn{
    background-color: #2196f3;
     width:fit-content;
     height: 50px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     cursor: pointer;
     opacity: 10;
     left:85%;
     transition: opacity 0.5s;
}





  @media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}