.signupbox{
    background: url(https://img.gkbcdn.com/bn/2302/1-63db9b9f2b40c9604c6e36ae._p1_.png);
    background-repeat: no-repeat;
    /* background-size: auto; */
    /* background-size: 100%; */
    /* background-size: cover; */
    background-image:linear-gradient(to right bottom ,black  ,#0a0221  );
    background: linear-gradient(275deg, #2196f9,#219);
    backdrop-filter: blur(50px);
}